body {
    background-color: #eee;
}

.tooltip {
    position: relative;
}

.tooltip img {
    height: .8em;
    width: .8em;
}

.tooltip .tooltiptext {
    display: none;
    position: absolute;
    margin-left: 1em;
    width: 20em;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: .5em;
    border-radius: 10px;
}

.tooltip:hover .tooltiptext {
    display: inline-block;
}
